.svg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin: auto;
  padding: 0px;
}
.svg-wrapper svg {
  max-height: 70vh;
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
[data-name=Text] {
  opacity: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: turn 10s linear infinite forwards;
          animation: turn 10s linear infinite forwards;
}