//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

.svg-wrapper {
  @include flex(column);

  width: auto;
  margin: auto;
  padding: 0px;

  svg {
    max-height: 70vh;
  }
}

@keyframes turn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

[data-name='Text'] {
  opacity: 1;
  transform-origin: center;
  animation: turn 10s linear infinite forwards;
}
