//********** Imports **********

@use "bits" as *; //Contains variables, media queries mixins etc.

body {
  background-color: #fdfcfa;
  overflow: hidden;
}

.svg-wrapper {
  @include flex(column);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 0px;
  background-color: #fdfcfa;

  svg {
    max-height: 70vh;
  }
}

@keyframes turn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

[data-name="Text"] {
  opacity: 1;
  transform-origin: center;
  animation: turn 10s linear infinite forwards;
}
