//********** Imports **********

@use "bits" as *; //Contains variables, media queries mixins etc.

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #f2bba7;
}

.svg-wrapper {
  @include flex(column);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 0;
  background-color: #f2bba7;
}
